# Intentional - {{ name }}

[![Made for Intentional](https://img.shields.io/badge/made_for-intentional-blue)](https://intentional-ai.github.io/intentional/docs/home/)
[![PyPI - Version](https://img.shields.io/pypi/v/intentional-{{package_name}}.svg)](https://pypi.org/project/intentional-{{package_name}})
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/intentional-{{package_name}}.svg)](https://pypi.org/project/intentional-{{package_name}})
[![PyPI - Downloads](https://img.shields.io/pypi/dm/intentional-{{package_name}})](https://pypistats.org/packages/intentional-{{package_name}})
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)

{{ description }}

-----

## Table of Contents

- [Installation](#installation)
- [License](#license)

## Installation

```console
pip install intentional-{{package_name}}
```

## License

`intentional` is distributed under the terms of the [AGPL](LICENSE.txt) license. If that doesn't work for you, [get in touch](mailto:github@zansara.dev).
